@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --green-color: #c5f82a;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
}

body {
  background-color: var(--grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#links-profile-container {
  margin: 5rem auto;
  width: 400px;
  height: 680px;
  background-color: var(--grey-800);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.avatar-img img {
  border-radius: 60%;
  margin-top: 2rem;
}

.profile-text h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
}

.profile-text h4 {
  color: var(--green-color);
  text-align: center;
  font-size: 16px;
  margin-top: 0.5rem;
}

.profile-text p {
  color: white;
  font-size: 14px;
  margin-top: 1.5rem;
}

.profile-links-container {
  margin-top: 1.5rem;
}

.links-menu li {
  list-style-type: none;
  width: 300px;
  height: 50px;
  text-align: center;
  margin: 0.5rem;
}

.links-menu li a {
  background-color: var(--grey-700);
  text-decoration: none;
  color: white;
  width: 300px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.links-menu li a:hover {
  background-color: var(--green-color);
  color: var(--grey-900);
}
